#call-to-action {
    padding: 120px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .cta-content h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .cta-content h2 em {
    font-style: normal;
    color: #ed563b;
  }
  
  .cta-content p {
    font-size: 16px;
    color: #fff;
    margin: 15px 0px 25px 0px;
  }