footer {
    text-align: center;
    padding: 30px 0px;
  }
  
  footer p {
    color: #232d39;
    font-size: 13px;
  }
  
  footer p a {
    cursor: pointer;
    color: #ed563b;
  }
  
  footer p a:hover {
    color: #ed563b;
  }